In [31]:
# Dependencies and Setup
import os
import pandas as pd

# File to load 
file = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas Data Frame
purchase_data = pd.read_csv(file)

In [32]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
total_players = purchase_data["SN"].nunique()
print(total_players)

576

In [34]:
total_players = pd.DataFrame([[total_players]],columns=["Total Players"])
total_players

   Total Players
0            576

In [35]:
unique_items = purchase_data["Item ID"].nunique()
print(unique_items)

average_price = purchase_data["Price"].mean()
print(average_price)

total_purchases = purchase_data["Purchase ID"].count()
print(total_purchases)

total_revenue = purchase_data["Price"].sum()
print(total_revenue)

179
3.050987179487176
780
2379.77

In [36]:
purchasing_analysis = pd.DataFrame([[unique_items, average_price, total_purchases, total_revenue]],columns=["Number of Unique Items","Average Price","Total Purchases","Total Revenue"])
purchasing_analysis.round(2)

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179           3.05              780        2379.77

In [25]:
grouped_by_gender = purchase_data.groupby(["Gender"])

gender_price = grouped_by_gender.sum()

In [26]:
unique_gender_count = grouped_by_gender["SN"].nunique()
type(unique_gender_count)
unique_gender_count.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [27]:
gender_percentage = unique_gender_count / total_players * 100
gender_percentage.head()

   Female  Male  Other / Non-Disclosed  Total Players
0     NaN   NaN                    NaN            NaN

In [28]:
gender_summary = pd.DataFrame({"Total Count": unique_gender_count})

gender_summary.head()

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [29]:
gender_summary["Total"] = total_players.iloc[0,0]
gender_summary.head()

                       Total Count  Total
Gender
Female                          81    576
Male                           484    576
Other / Non-Disclosed           11    576

In [30]:
gender_summary["Percentage of Players"] = gender_summary["Total Count"] / gender_summary["Total"] * 100
gender_summary.head()

                       Total Count  Total  Percentage of Players
Gender
Female                          81    576              14.062500
Male                           484    576              84.027778
Other / Non-Disclosed           11    576               1.909722