In [55]:
# Dependencies and Setup
import os
import pandas as pd

# File to load 
file = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas Data Frame
purchase_data = pd.read_csv(file)

In [56]:
# Print the csv file
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [57]:
# Player Count

# Find the unique number of players
total_players = purchase_data["SN"].nunique()
print(total_players)

576

In [58]:
# Create a new DataFrame for the total players
total_players_df = pd.DataFrame([[total_players]],columns=["Total Players"])
total_players_df

   Total Players
0            576

In [59]:
# Purchasing Analysis (Total)

# Find the number of unique items, average price, number of purchases, and total revenue
unique_items = purchase_data["Item ID"].nunique()
print(unique_items)

average_price = purchase_data["Price"].mean()
print(average_price)

total_purchases = purchase_data["Purchase ID"].count()
print(total_purchases)

total_revenue = purchase_data["Price"].sum()
print(total_revenue)

179
3.050987179487176
780
2379.77

In [60]:
# Create a new DataFrame for the values above
purchasing_analysis = pd.DataFrame([[unique_items, average_price, total_purchases, total_revenue]],columns=["Number of Unique Items","Average Price","Total Purchases","Total Revenue"])

# Add formatting
purchasing_analysis["Average Price"]= purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"]= purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis.head()

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

In [61]:
# Gender Demographics

# Group the data by the gender column
grouped_by_gender = purchase_data.groupby(["Gender"])

gender_price = grouped_by_gender.sum()

In [62]:
# Find the number of unique players from the grouped data
unique_gender_count = grouped_by_gender["SN"].nunique()
unique_gender_count.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [63]:
# Find the percentage of unique players per gender
gender_percentage = unique_gender_count / total_players * 100
gender_percentage.head()

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [64]:
# Create a new DataFrame for the grouped by gender data 
gender_summary = pd.DataFrame({"Total Count": unique_gender_count,
                                 "Percentage of Players": gender_percentage})
# Add formatting
gender_summary["Percentage of Players"]= gender_summary["Percentage of Players"].map("{:,.2f}%".format)
gender_summary.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [65]:
# Purchasing Analysis (Gender)

# Find the purchase count, average purchase price, total purchase value, and avg total purchase per person
gender_purchase_count = grouped_by_gender["Purchase ID"].count()
print(gender_purchase_count)

gender_avg_price = grouped_by_gender["Price"].mean()
print(gender_avg_price)

gender_total_value = grouped_by_gender["Price"].sum()
print(gender_total_value)

gender_unique = grouped_by_gender["SN"].nunique()

gender_avg_per_person= gender_total_value / gender_unique
print(gender_avg_per_person)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [66]:
# Create a new DataFrame for the gender purchasing analysis
gender_summary_analysis= pd.DataFrame({"Purchase Count": gender_purchase_count,
                                      "Average Purchase Price": gender_avg_price,
                                      "Total Purchase Value": gender_total_value,
                                      "Avg Total Purchase per Person": gender_avg_per_person})
# Add formatting
gender_summary_analysis["Average Purchase Price"]= gender_summary_analysis["Average Purchase Price"].map("${:,.2f}".format)
gender_summary_analysis["Total Purchase Value"]= gender_summary_analysis["Total Purchase Value"].map("${:,.2f}".format)
gender_summary_analysis["Avg Total Purchase per Person"]= gender_summary_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_summary_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [67]:
# Age Demographics

# Find the max and min values for the age bins that we'll need to create
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [68]:
# Create lists for the age values and the age labels
age_bins = [0,9,14,19,24,29,34,39,50]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Slice the data and put it into bins
pd.cut(purchase_data["Age"], age_bins, labels=age_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [69]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Bins"]= pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [70]:
# Group the data by the new column "Age Bins"
grouped_by_age = purchase_data.groupby(["Age Bins"])

print(grouped_by_age["SN"].nunique())

Age Bins
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [71]:
# Find the number and percentage of unique players per age bin
unique_age_total = grouped_by_age["SN"].nunique()
age_percent_players= unique_age_total / total_players * 100

In [72]:
grouped_by_age_df = pd.DataFrame({"Total Count":unique_age_total,
                                 "Percentage of Players": age_percent_players})

# Add Formatting
grouped_by_age_df["Percentage of Players"]= grouped_by_age_df["Percentage of Players"].map("{:,.2f}%".format)
grouped_by_age_df

          Total Count Percentage of Players
Age Bins
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

In [73]:
# Purchasing Analysis (Age)

# Find the purchase count, average purchase price, total purchase value, and avg total purchase per person
age_purchase_count = grouped_by_age["Purchase ID"].count()
print(age_purchase_count)

age_avg_price = grouped_by_age["Price"].mean()
print(age_avg_price)

age_total_value = grouped_by_age["Price"].sum()
print(age_total_value)

age_avg_per_person= age_total_value / unique_age_total
print(age_avg_per_person)

Age Bins
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64
Age Bins
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64
Age Bins
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64
Age Bins
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [74]:
# Create a new DataFrame for the age purchasing analysis
age_summary_analysis = pd.DataFrame({"Purchase Count": age_purchase_count,
                                    "Average Purchase Price": age_avg_price,
                                    "Total Purchase Value": age_total_value,
                                    "Avg Total Purchase per Person": age_avg_per_person})
# Add Formatting
age_summary_analysis["Average Purchase Price"]= age_summary_analysis["Average Purchase Price"].map("${:,.2f}".format)
age_summary_analysis["Total Purchase Value"]= age_summary_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_summary_analysis["Avg Total Purchase per Person"]= age_summary_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_summary_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81

In [75]:
# Top Spenders

# Group the data by players
grouped_by_spender = purchase_data.groupby(["SN"])

In [76]:
# Find the purchase count, average purchase count, and total purchase count per player
spend_per_person = grouped_by_spender["Purchase ID"].count()
avg_spend_per_person = grouped_by_spender["Price"].mean()
spend_total_value = grouped_by_spender["Price"].sum()

In [77]:
# Create a new DataFrame for the top spenders
grouped_by_spend_df = pd.DataFrame({"Purchase Count": spend_per_person,
                                   "Average Purchase Price": avg_spend_per_person,
                                   "Total Purchase Value": spend_total_value})

# Sort the values in descending order of total purchase value
grouped_by_spend_df = grouped_by_spend_df.sort_values(by=["Total Purchase Value"],ascending=False)

# Add Formatting
grouped_by_spend_df["Average Purchase Price"]= grouped_by_spend_df["Average Purchase Price"].map("${:,.2f}".format)
grouped_by_spend_df["Total Purchase Value"]= grouped_by_spend_df["Total Purchase Value"].map("${:,.2f}".format)
grouped_by_spend_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [78]:
# Most Popular Items

# Retrieve the Item ID, Item Name, and Item Price columns
retrieved_items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the data by item ID
grouped_by_popularity = retrieved_items.groupby(["Item ID","Item Name"])
#purchase_data["Item ID"]= purchase_data["Item ID"].astype(str)

In [79]:
# Find the purchase count, item price, and total purchase value per Item ID and Item Name
items_purchased = grouped_by_popularity(["Item ID"]).count()
item_price = grouped_by_popularity(["Price"]).sum()
item_total_value = items_purchased * item_price

TypeError: 'DataFrameGroupBy' object is not callable

In [80]:
# Create a new DataFrame for the most popular items
grouped_by_popularity_df = pd.DataFrame({"Item Name": purchase_data[5],
                                         "Purchase Count": items_purchased,
                                         "Item Price": item_price,
                                         "Total Purchase Value": item_total_value})
# Sort in descending order
grouped_by_popularity_df = grouped_by_popularity_df.sort_values(by=["Purchase Count"],ascending=False)

# Add formatting
grouped_by_popularity_df["Item Price"]= grouped_by_popularity_df["Item Price"].map("${:,.2f}".format)
grouped_by_popularity_df["Total Purchase Value"]= grouped_by_popularity_df["Total Purchase Value"].map("${:,.2f}".format)
grouped_by_popularity_df.head()

KeyError: 5

In [81]:
# Create a new DataFrame for the most profitable items
grouped_by_profitability_df = pd.DataFrame({"Item Name": purchase_data[5],
                                         "Purchase Count": items_purchased,
                                         "Item Price": item_price,
                                         "Total Purchase Value": item_total_value})

grouped_by_profitability_df = grouped_by_popularity_df.sort_values(by=["Total Purchase Value"],ascending=False)
grouped_by_profitability_df.head()

KeyError: 5